/* =========================
   RESET & BASE VARIABLES
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #000000;
  background: linear-gradient(
    45deg,
    #ff6783,
    #c278ff,
    #689bff,
    #fc83b5,
    #df78f1,
    #87b7f6,
    #fb6f7f,
    #e185ff
  );
  background-size: 500% 500%;
  animation: animatedGradient 20s ease infinite;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

h2 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}
